html,
body {
  background: linear-gradient(to right, #00AAFF, #00FF6C);
  padding: 0;
  margin: 0;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex-item-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

#main {
  min-height: 91vh;
}

/** Footer **/

#footer {
  bottom: 0;
  background-color: transparent;
  color: #ffffff;
  height: 60px;
  position: relative;
  width: 100%;
}

#heart-text {
  color: #fd0303;
}
